**/**/*.swp
**/**/*.o
**/**/*.a
*clion
*.out
*.sh
*debug/
**/**/*.xml
**/**/*.txt
**/**/*.md
**/**/*.cmake
**/**/*.bin
*cmake-build-debug/*
*idea/*
*.xml
.idea/
.DS*
._.*
cmake-build-debug/
**/**/*.nfs.*
